body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #8C9EFF;
    background-repeat: no-repeat;
}

.card {
    z-index: 0;
    background-color: #ECEFF1;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
}

.top {
    padding-top: 20px;
    padding-left: 10% !important;
    padding-right: 5% !important;
}

/*Icon progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px;
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar .step0:before {
    font-family: FontAwesome;
    content: "\f10c";
    color: #fff;
}

#progressbar li:before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 20px;
    background: #C5CAE9;
    border-radius: 50%;
    margin: auto;
    padding: 0px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 6px;
    background: #C5CAE9;
    position: absolute;
    left: 0;
    top: 12px;
    z-index: -1;
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

#progressbar li:nth-child(2):after, #progressbar li:nth-child(3):after , #progressbar li:nth-child(4):after {
    left: -50%;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%;
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #651FFF;
}

#progressbar li.active:before {
    font-family: FontAwesome;
    content: "\f00c";
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.icon-content {
    padding-bottom: 20px;
}

p {
    font-size: 0.75rem;
}
@media screen and (max-width: 992px) {
    .icon-content {
        width: 50%;
    }
}

.top_row {
    display: table;
    width: 100%;
}

.top_row .rdiv {
    display: table-cell;
    /*width: 50%;*/
    /*border-bottom: 1px solid #eee;*/
}

.top_row .cdiv {
    display: table-cell;
    width: 50%;
    /*border-bottom: 1px solid #eee;*/
}

.rr{
    width: 85%;
    margin: auto;
}
.table td{
    border-top: none !important;
}

.tbl_border{
    border: 1px solid rgb(202 202 202 / 51%);
}

input ,#search {
    margin-bottom: 5px !important;
    padding: 2px 3px !important;
    width: 209px !important;
    font-size: initial;
    background-color: white;
    border: 1px solid #0090e7;
    margin-left: 1rem;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #0676ed;
    --background: #222b45;
    --warning: #f2a600;
    --success: #12c99b;
    --error: #e41749;
    --dark: #151a30;
}

.alert {
    /*min-height: 67px;*/
    width: 520px;
    max-width: 90%;
    border-radius: 12px;
    margin-bottom: 2rem !important;
    padding: 4px 22px 4px 20px !important;
    display: flex;
    align-items: center;
}
.alert-warning {
    background: var(--warning);
}
.alert-success {
    background: var(--success);
}
.alert-primary {
    background: var(--primary) !important;
}
.alert-dark {
    background: var(--dark);
}
.alert-error {
    background: var(--error) !important;
}
.alert .icon__wrapper {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.253);
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert .icon__wrapper span {
    font-size: 21px;
    color: #fff;
}
.alert p {
    color: #fff;
    font-family: Verdana;
    margin-left: 10px;
    margin-bottom: 5px;
}
.alert p a,
.alert p a:visited,
.alert p a:active {
    color: #fff;
}
.alert .open {
    margin-left: auto;
    margin-right: 5px;
}
.alert .close, .alert .open {
    color: #fff;
    transition: transform 0.5s;
    font-size: 18px;
    cursor: pointer;
}
.alert .close:hover, .alert .open:hover {
    transform: scale(1.3);
}